@model Primarch 
@{
	ViewData["Title"] = "Add a Primarch";
}

<h2>Add a Primarch</h2>

<form>
	<label asp-for="Name"></label>
	<input asp-for="Name" />
	<span asp-validation-for="Name"></span>


</form>