@model Primarch 
@{
	ViewData["Title"] = "Add a Primarch";
}

<h2>Add a Primarch</h2>

<form>
	<label asp-for="Name"></label>
	<input asp-for="Name" />
	<span asp-validation-for="Name"></span>

	<label asp-for="LegionNumber"></label>
	<input asp-for="LegionNumber" />
	<span asp-validation-for="LegionNumber"></span>

	<label asp-for="Legion"></label>
	<input asp-for="Legion" />
	<span asp-validation-for="Legion"></span>

	<label asp-for="HomeWorld"></label>
	<input asp-for="HomeWorld" />
	<span asp-validation-for="HomeWorld"></span>


</form>