@model Primarch 
@{
	ViewData["Title"] = "Add a Primarch";
}

<h2>Add a Primarch</h2>

<form method="post">
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label" asp-for="Name"></label>
			<input class="form-control" asp-for="Name" />
			<span class="text-danger" asp-validation-for="Name"></span>
		</div>

		<div class="form-group">
			<label class="control-label" asp-for="LegionNumber"></label>
			<input class="form-control" asp-for="LegionNumber" />
			<span class="text-danger" asp-validation-for="LegionNumber"></span>
		</div>

		<div class="form-group">
			<label class="control-label" asp-for="Legion"></label>
			<input class="form-control" asp-for="Legion" />
			<span class="text-danger" asp-validation-for="Legion"></span>
		</div>

		<div class="form-group">
			<label class="control-label" asp-for="HomeWorld"></label>
			<div class="input-group mb-3">
				<input class="form-control" asp-for="HomeWorld" />
				<button class="btn btn-dark" type="submit" id="button-addon2">Add Primarch</button>
			</div>
			<span class="text-danger" asp-validation-for="HomeWorld"></span>
		</div>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}